node_modules
**/node_modules
Dockerfile*
dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
VERSION
.vscode
Makefile
helm-charts
.env
**/.env
.editorconfig
.idea
coverage*
setup.sh
build.sh
yaak
www
**/www
.svelte-kit
**/.svelte-kit
target
**/target
