{
  "arrowParens": "avoid",
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "+page.md",
      "options": {
        "printWidth": 1000
      }
    },
    {
      "files": "*.scss",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
